header {
    color: $font_brown;
    font-size: 12px;
    font-weight: bold;
}

.cookies {

    background-color: $bg_rose;

    p {
        text-align: center;
        padding: 10px;
    }
}

.logo {
    float: left;
    width: 110px;
}

.navbar-right {
    float: right;
    display: inline-block;

    li {
        display: inline-block;
        padding: 10px;
    }

    a {
        color: $font_brown;
        &:hover {
            color: $font_blue;
        }
    }
}
