header {
    color: $font_brown;
    font-size: 12px;
    font-weight: bold;
}

.cookies {
    background-color: $bg_rose;

    p {
        text-align: center;
        padding: 10px;
    }
}

#logo {
    float: left;
    width: 110px;
    height: 35px;

    img {
        padding: 10px;
    }
}

.navbar {
    position: fixed;
    width: 90%;
    border-bottom: 0.5px solid $border_header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    float: right;
    display: inline-block;
    vertical-align: middle;

    li {
        display: inline-block;
        padding: 10px;
    }

        a {
            color: $font_brown;
            &:hover {
                color: $font_blue;
        }
    }
}
