* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    line-height: 1.6;
    color: $font_brown;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 20px;
}

//buttons

.btn-header {
    @include button ($font_blue ,  $font_white);
    & i {
        color: $font_blue;
    }
    &:hover {
        color: $font_white;
        background-color: $font_blue;
    }
    & i:hover { //corrigir --
        color: $font_white;
    }
}
