header {
    font-size: 12px;
    width: 100%;
}

.cookies {
    background-color: $bg_rose;

    p {
        text-align: center;
        padding: $padding_p;
    }
}

#logo {
    float: left;

    img {
        padding: $padding_p;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid $border_header;
    background-color: $bg_white;
    @include displayFlex (row, space-around, center);
    z-index: 9;
}

.navbar-right {
    @include displayInline ;

    li {
        @include displayInline;
        padding: $padding_p;
    }

        a {
            font-weight: bold;
            &:hover {
                color: $font_blue;
        }
    }
}

.btn-header {
    @include button ($font_blue ,  $font_white , bold);
    & i {
        color: $font_blue;
    }
    &:hover {
        color: $font_white;
        background-color: $font_blue;
    }
    &:hover i {
        color: $font_white;
    }
}
