@mixin displayFlex ($direction , $justify , $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin displayInline (){
    display: inline-block;
}

@mixin button ($font_color, $bg_color, $font_weight ){
    color: $font_color;
    border: 1px solid $font_color;
    height: 35px;
    line-height: 35px;
    font-weight: $font_weight;
    padding: 0 $padding_p;
    border-radius: $radius_5;
    background-color: $bg_color;
}
