section.bg_rose {
    background-color: $bg_rose;
    margin-top: 150px;
}

.bg_rose h2{
    font-size: 26px;
    line-height: 1.53;
    text-align: center;
    padding: 80px;
}

.disengagement {
    border-bottom: 1px solid $border_main;
}
