//background colors
$bg_rose: #FFE7D2;
$bg_white: #FFFFFF;
$bg_blue: #30488F;
$bg_hover_blue: #233569;

//font colors
$font_brown: #58402c;
$font_blue: #30488F;
$font_white: #FFFFFF;
$font_or: #bdb5af;


//border
$border_header: #E9E6E4;
$border_main: #bdb5af;
