section.bg_white {
    background-color: $bg_white;
    padding: 120px 0;

}

.develop-people {
    h2 {
        font-weight: normal;
        margin-bottom: 40px;
    }
}

.develop-people-left {

    button {
        @include button ($font_white , $bg_blue);
        & i {
            color: $font_white;
        }
    }
    span {
        font-weight: normal;
        padding: 0 10px;
        color: #bdb5af;
    }
}
