section.bg_white {
    background-color: $bg_white;
    padding: 175px 0;
    height: 650px;
}

.develop-people {
    h1 {
        line-height: 1.4;
        font-size: 50px;
    }

    h2 {
        font-weight: normal;
        margin-bottom: 40px;
    }
}

.develop-people-left {
    width: 50%;
    float: left;
    button {
        @include button ($font_white , $bg_blue);
        & i {
            color: $font_white;
        }
    }
    span {
        font-weight: normal;
        padding: 0 10px;
        color: #bdb5af;
    }
    p {
        color: $font_brown;
        padding-top: 15px;
        a {
            font-weight: normal;
        }
    }
}

.develop-people-right {
    width: 50%;
    img {
        max-width: 100%;
    }
}
