section.bg_white {
    background-color: $bg_white;
    padding: 80px 0;
    p {
        font-size: 1.125rem;
    }
}

a.learn-more {
    color: $font_blue;
}

//section 1
.develop-people {
    h2 {
        font-weight: normal;
        margin-bottom: 40px;
    }
}

span {
        font-weight: normal;
        padding: 0 $padding_p;
        color: $font_or;
}

.sign-up-btn button {
    @include button ($font_white , $bg_blue , normal);
    & i {
        color: $font_white;
    }
    &:hover {
        background-color: $bg_hover_blue;
    }
}

// .slide img {
//     max-width: 768px;
// }

.work-example {
    @include displayFlex (row, space-between, center)
}
